

body {
  background-color: rgba(206, 202, 195, 0.849);

}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}


.bgDiv {
  background-image: url('images/cafe bg2.png');
  height: 47rem;
  text-align: center;
}


.bgText {
  display: inline-block;
  padding-top: 14rem;

}

.bgText h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 9rem;
  color: #634242dc;

}

.bgText p {
  color: #4e3434;
  font-family: 'Bona Nova', serif;
  font-size: 2rem;
}

.bgText hr{
  margin-top: 2rem;
  color: #634242;
  border-top: 2px solid rgba(60, 43, 43, 0.751);
  width: 5rem;

}

.aboutUsText{
  background-color: rgba(143, 152, 147, 0.601);
  width: 80%;
  height: 15rem;
  
} 
.subRows {
  z-index: -1;
}
.subRows h2{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #634242d0; 
}
#secondSection img {
  z-index: 2;
  width: 18rem;


}

 .hrSection{
  margin-top: 2rem;
  color: #634242bc;
  border-top: 1px solid rgba(60, 43, 43, 0.751);
  width: 50rem;
  opacity: 0.7;
}
.nav-container {
  display: grid;
  justify-items: start;
}


#cletter {
  font-size: 3rem;
  font-family: 'Noto Serif', serif;
}

.footer {
  background-color: rgb(104, 114, 102);
  justify-content: center;
}


.nav-container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  margin-bottom: 10rem;
}

.nav-container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}

.nav-container:hover .box {
  transform: rotateY(25deg);
}

.nav-container .box:hover~.box {
  transform: rotateY(-25deg);
}

.nav-container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.nav-container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.nav-container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(79, 50, 50), #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.nav-container .box:hover .imgBx:before {
  opacity: 1;
}

.nav-container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}

.nav-container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}

.nav-container .box:hover .content h2 {
  transform: translateY(0px);
}

.nav-container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}

.nav-container .box:hover .content p {
  transform: translateY(0px);
}

.formSec{
  height: 40rem;
  padding: 5rem;
}